{$SITE_ADDRESS}

encode zstd gzip

request_body {
	max_size 10MB
}

handle_path /assets/* {
	root * /srv/assets
	file_server

	@busted not path /data/languages/*
	header @busted Cache-Control "public, max-age=604800"

	@lang path /data/languages/*
	header @lang Cache-Control "no-cache"
}

handle_path /templates/styles/* {
	root * /srv/styles
	file_server
	header Cache-Control "no-cache"
}

handle {
	header Cache-Control "no-store"
	reverse_proxy privaterama:3800
}
