[ServerSettings]
host = 127.0.0.1
port = 3800
; Whether to use HTTPS for server URLs, keep disabled if you are not sure. (default: false)
use_https = false

[AlternativeAssetStore]
alternative_asset_store_enabled = false
alternative_asset_store_host = example.com
alternative_asset_store_port = 7070
; Whether to use HTTPS for asset store URLs (default: false)
asset_store_use_https = false

[Debugging]
flask_debug = true
; Available levels: debug, info, warning, error, critical
logging_level = DEBUG

[AdminUsers]
admin_ids = 81033435, 81033435