; [ServerSettings] LEGACY FEATURE, CHANGE THIS ONLY IF YOU DON'T USE DOCKER FOR WHATEVER REASON
[ServerSettings]
host = 127.0.0.1
port = 3800
use_https = false

[Debugging]
; Available levels: debug, info, warning, error, critical
logging_level = INFO
