[Database]
connection_string = postgresql://postgres:password-here@localhost:5432/skyrama

[ServerSettings]
host = 127.0.0.1
port = 3800
; Whether to use HTTPS for server URLs, keep disabled if you are not sure. (default: false)
use_https = false

[Debugging]
; Available levels: debug, info, warning, error, critical
logging_level = DEBUG

[AdminUsers]
admin_ids = 1

[Webhooks]
; Discord webhook for debug purposes throughout the code
error_webhook =
registration_webhook = 