fastapi>=0.133.0
uvicorn[standard]>=0.41.0
gunicorn>=25.1.0
python-multipart
jinja2
deepmerge
colorama
requests
orjson>=3.11.7
python-dotenv
itsdangerous
SQLAlchemy>=2.0.47
psycopg[binary]>=3.3.3
bcrypt>=5.0.0
pyfiglet
