<!doctype html>
<html>
<head>
	<script type="text/javascript">	
		//<!--
        	

        		function onBodyReady()
        		{
            		var progressbar = parent.document.getElementById('popupProgress');
            		if (progressbar)
            			progressbar.style.display = 'none';            		
        		}

			
		//-->
	</script>
</head>

<body onLoad="javascript:onBodyReady()">
	<h2 class="error_header" style="align-content: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Maintenance Work</h2>
	<div class="error_desc" style="align-content: center; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">We're currently working hard on improving the game! Please check back later.</div>
	<br>
	<br>
  <center>
    <img src="/templates/styles/unimplemented_footer.png" width="356" height="200">
  </center>
</body>
</html>