<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Notice</title>
<style>
  html, body {
    height: 100%;
    margin: 0;
    background: #f0f0f0;
  }

  .wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: sans-serif;
  }
</style>
</head>

<body>
  <div class="wrapper">
    <div>
      <p style="font-size: 20px;">Because we're an unofficial and community-run project, <br>we don't support Aircash payments.<br><br>Feel free to share us your ideas for alternative ways to get AC, if you have any!</p>
    </div>
  </div>
</body>
</html>